---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

section {
  width: 900px;
  float: right;
  padding-bottom: 50px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .wrapper {
    width: 90%; /* Adjust width for smaller screens */
    margin: 0 auto; /* Keep the wrapper centered */
  }

  section {
    width: 100%; /* Adjust width for smaller screens */
    float: none; /* Remove floating */
    padding-bottom: 20px; /* Adjust padding for smaller screens */
  }
}
